.header{
    background-color: aquamarine;
}
.backgrd_img{
    position: fixed;
    top:0;
    left:0;
    object-fit: cover;
    z-index: -1;
}

.logo{    
        position: absolute;
        top: 0px; 
        left: 0px; 
        background: linear-gradient(to bottom, rgb(0, 0, 0), #1a1a1ac1, rgba(0, 0, 0, 0.041));
        z-index: 10;
        width: 100vw;
        display: flex;
        justify-content: space-between;
    }
.user_icon{
    display: flex;
    padding: 48px;
    margin-right: 24px;
    width: 40px;
    height: 40px;
}
.user_i{
    border-radius: 3px;
    padding: 4px;
}
.user_b{
    height: 20px;
    width: 60px;
    margin-top: 10px;
    margin-left: 1px;
    border-radius: 10px;
    white-space: nowrap;
}
.form_one{
    position: absolute;
    padding: 24px;
    background-color: black;
    opacity: 0.8;
    height: 400px;
    width: 300px;
    display: grid;
    margin-top: 150px;
    margin-left: 600px;
    border-radius: 10px;    
}
.box_three{
    padding: 4px;
    border-radius: 6px;
    height: 40px;
    width: 280px;
    background-color: #d3d3d3;
    color: black;
    margin-bottom: 16px;
}

.box_one{
    padding: 4px;
    border-radius: 6px;
    height: 40px;
    width: 280px;
    background-color: #d3d3d3;
    color: black;
    margin-bottom: 16px;
}

.box_two{
    padding: 4px;
    border-radius: 6px;
    height: 40px;
    width: 280px;
    background-color: #d3d3d3;
    color: black;
}

.button{
    background-color: red;
    color: white;
    border-top: black;
    border-left: black;
    margin-top: 24px;
    text-align: center;
    height: 50px;
    width: 295px;
    border-radius: 6px;
}

.text{
    margin-top: 0px;
    color: white;
    font-size: 40px;    
}

.text_p{
    color: white;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.message {
    color: red;
}
.movie{
    padding-top: 220px;
    padding-left: 64px;
    position: absolute;
    color: #848482;
    aspect-ratio: 14/9;
    z-index: 50;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.74), #1a1a1a97, rgba(0, 0, 0, 0.019));

    
}
.title{
    font-size: 50px;
}
.content{
    width: 25%;
    font-size: 18px;
}
.play{
    width: 128px;
    height: 48px;
    background-color: whitesmoke;
    border: whitesmoke;
    color: black;
    font-size: 18px;
    border-radius: 8px;

}
.play:hover{
    opacity: 0.6;
}
.more_info{
    width: 128px;
    height: 48px;
    background-color: #91a3b0;
    border: #91a3b0;
    font-size: 18px;
    border-radius: 8px;
    margin: 4px;

}
.more_info:hover{
    opacity: 0.6;
}
.screen{
    width: 100vw;
    aspect-ratio: 16/9;
    height: auto;
    
}


.listtwo {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; 
}
.list{
    padding: 8px;
    color: white;       
}
.card{
    padding: 4px;
}
.movieList{
    margin-top: -160px;
    width: 100vw;

}
.secmovieList{
    background-color: black;
    padding-left: 12px;
}
.card_img{
    width: 160px;
}
.user_b{
    z-index: 10;
}
